.App {
  text-align: center;
}

.MainDiv {
  text-align: center;
}

.myHeader {
  background-color: cadetblue;
  min-height: 50px;
  text-align: center;
  font-size: 30px;
}

.myFooter {
  background-color: cadetblue;
  position: absolute;
  bottom: 0;
  min-height: 40px;
  min-width: 100%;
  text-align: center;
  font-size: 30px;
}
